asgiref==3.8.1
click==8.1.7
colorama==0.4.6
Django==5.1.4
django-recaptcha==4.0.0
django-render-partial==0.4
mysqlclient==2.2.7
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
python-decouple==3.8
sorl-thumbnail==12.11.0
sqlparse==0.5.1
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
tzdata==2024.2
uuid==1.30
