{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}اضافه کردن افراد به کلاس{% endblock %}
{% block content_title %}اضافه کردن افراد به کلاس{% endblock %}

{% block breadcrumb_option %}
    <li><a href="index.html">Classes</a></li>
    <li class="active"><span>Add User</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-push-1 col-sm-push-1">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="mt-20">
                            <label class="control-label mb-10" for="id_students">دانش آموزان:</label>
                            <br>
                            {{ form.students }}
                        </div>
                        <div class="mt-20">
                            <label class="control-label mb-10" for="id_teachers">معلمان:</label>
                            <br>
                            {{ form.teachers }}
                        </div>
                        <input type="submit" value="ذخیره" class="btn btn-block btn-success mt-40">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
