{% extends "shared/_layout.html" %}
{% load static %}

{% block title %}لیست کلاس ها{% endblock %}
{% block content_title %}لیست کلاس ها{% endblock %}
{% block breadcrumb_option %}
    <li><a href="index.html">Dashboard</a></li>
    <li class="active"><span>Classes</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        {% if classes.exists %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="mt-20 mb-20">
                                <a href="{% url "create-class-page" %}" class="btn btn-success btn-block">
                                اضافه کردن کلاس
                                </a>
                            </div>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="font-size: medium; font-weight: normal;">اسم</th>
                                            <th class="text-nowrap" style="font-size: medium; font-weight: normal;">عملیات ها</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% if classes is not None %}
                                                {% for class in classes %}
                                                    <tr>
                                                        <td>{{ class }}</td>
                                                        <td class="text-nowrap">
                                                            {% if class.created_by == user %}
                                                                <a href="{% url "edit-class-page" class.uuid %}" class="mr-25" data-toggle="tooltip" data-original-title="ایجاد تغییر">
                                                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                                </a>
                                                                <a href="{% url "delete-class-page" class.uuid %}" data-toggle="tooltip" data-original-title="حذف کردن">
                                                                    <i class="fa fa-close text-danger"></i>
                                                                </a>
                                                            {% else %}
                                                                <a href="{% url "leave-class-page" class.uuid %}" data-toggle="tooltip" data-original-title="ترک کلاس">
                                                                    <i class="fa fa-close text-danger"></i>
                                                                </a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ul class="pagination pagination-split">
                                {% if page_obj.has_next %}
                                    <li> <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-left"></i></a> </li>
                                {% endif %}
                                {% for page_num in paginator.page_range %}
                                    <li> <a href="?page={{ page_num }}">{{ page_num }}</a> </li>
                                {% endfor %}
                                {% if page_obj.has_previous %}
                                    <li> <a href="?page={{ page_obj.prevues_page_number }}"><i class="fa fa-angle-right"></i></a> </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" dir="rtl" role="alert">
                هیچ کلاسی برای شما یافت نشد! برای ساخت کلاس <a href="{% url "create-class-page" %}" class="btn-link">کلیک</a> کنید!
            </div>
        {% endif %}
    </div>
{% endblock %}
