<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
            <div class="row">
                <div class="file-manager">
                    <ul class="folder-list mb-2">
                        <li class="{% if request.resolver_match.url_name == "edit-account-page" %} active {% endif %}">
                            <a href="{% url "edit-account-page" %}"><i class="
                                bi
                                {% if request.resolver_match.url_name == "edit-account-page" %}
                                    bi-circle-fill
                                {% else %}
                                    bi-circle
                                {% endif %}"></i>

                            ویرایش حساب کاربری</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == "change-email-page" %} active {% endif %}">
                            <a href="{% url "change-email-page" %}"><i class="
                                bi
                                {% if request.resolver_match.url_name == "change-email-page" %}
                                    bi-circle-fill
                                {% else %}
                                    bi-circle
                                {% endif %}"></i>

                            تغییر ایمیل</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == "change-password-page" %} active {% endif %}">
                            <a href="{% url "change-password-page" %}"><i class="
                                bi
                                {% if request.resolver_match.url_name == "change-password-page" %}
                                    bi-circle-fill
                                {% else %}
                                    bi-circle
                                {% endif %}"></i>

                            تغییر رمز عبور</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == "appearance-settings-page" %} active {% endif %}">
                            <a href="{% url "appearance-settings-page" %}"><i class="
                                bi
                                {% if request.resolver_match.url_name == "appearance-settings-page" %}
                                    bi-circle-fill
                                {% else %}
                                    bi-circle
                                {% endif %}"></i>

                            تنظیمات ظاهری</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
