{% load static %}
{% load thumbnail %}

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">

            <!-- User Profile -->
            <li>
                <div class="user-profile text-center">
                    {% thumbnail user.profile_image "80x80" crop="center" as im %}
                        <img src="{{ im.url }}" alt="profile_image" class="user-auth-img img-circle">
                    {% endthumbnail %}
                    <div class="dropdown mt-5">
                    <a href="#" class="dropdown-toggle pr-0 bg-transparent" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <li>
                            <a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-card"></i><span>my balance</span></a>
                        </li>
                        <li>
                            <a href="inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="sub-menu show-on-hover">
                            <a href="#" class="dropdown-toggle pr-0 level-2-drp"><i class="zmdi zmdi-check text-success"></i> available</a>
                            <ul class="dropdown-menu open-left-side">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-check text-success"></i><span>available</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-circle-o text-warning"></i><span>busy</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-minus-circle-outline text-danger"></i><span>offline</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url "logout-page" %}"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </li>
            <!-- /User Profile -->
        <li class="navigation-header">
            <span>Main</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a href="{% url "homework-list-page" %}" class="{% if request.resolver_match.url_name == "homework-list-page" %} active {% endif %}"><div class="pull-left"><i class="bi bi-pencil-square mr-15"></i><span class="right-nav-text">تکالیف</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a href="{% url "exam-list-page" %}" class="{% if request.resolver_match.url_name == "exam-list-page" %} active {% endif %}"><div class="pull-left"><i class="fa fa-file-text-o mr-15"></i><span class="right-nav-text">امتحانات</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a href="{% url "invitation-list-page" %}" class="{% if request.resolver_match.url_name == "invitation-list-page" %} active {% endif %}"><div class="pull-left"><i class="bi bi-envelope mr-15"></i><span class="right-nav-text">دعوت ها</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a href="{% url "class-list-page" %}" class="{% if request.resolver_match.url_name == "class-list-page" %} active {% endif %}"><div class="pull-left"><i class="bi bi-person-video3 mr-15"></i><span class="right-nav-text">کلاس ها</span></div><div class="clearfix"></div></a>
        </li>
        <li>
            <a href="{% url "user-panel-page" %}" class="{% if request.resolver_match.url_name == "user-panel-page" or request.resolver_match.url_name == "edit-account-page" or request.resolver_match.url_name == "change-email-page" or request.resolver_match.url_name == "change-password-page" or request.resolver_match.url_name == "appearance-settings-page" %} active {% endif %}"><div class="pull-left"><i class="bi bi-person-circle mr-15"></i><span class="right-nav-text">پنل کاربری</span></div><div class="clearfix"></div></a>
        </li>
    </ul>
</div>
<!-- /Left Sidebar Menu -->
