{% extends "shared/_layout.html" %}
{% load static %}

{% block title %}لیست امتحانات{% endblock %}
{% block content_title %}لیست امتحانات{% endblock %}
{% block breadcrumb_option %}
    <li><a href="index.html">Dashboard</a></li>
    <li class="active"><span>Exams</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="row">
                        <div class="mt-20 mb-20 ml-15 mr-15">
                            <a href="{% url "create-exam-page" %}" class="btn btn-success btn-block">
                            اضافه کردن امتحان
                            </a>
                        </div>
                        <ul class="inbox-nav mb-30">

                            <ul>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr" style="font-size: 18px; font-weight: 500;">
                                        وضعیت
                                        <div class="pull-left"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                                    <ul id="dashboard_dr" class="collapse collapse-level-1  ml-25" style="font-size: 15.30px; font-weight: 500;">
                                        <li>
                                            <a href="index6.html">انجام شده</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">انجام نشده</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr" style="font-size: 18px; font-weight: normal;">
                                        سختی
                                        <div class="pull-left"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                                    <ul id="ecom_dr" class="collapse collapse-level-1 ml-25 style=font-size: 15.30px;">
                                        <li>
                                            <a href="index6.html">ساده</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">متوسط</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">سخت</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr" style="font-size: 18px; font-weight: normal;">
                                        درس
                                        <div class="pull-left"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                                    <ul id="app_dr" class="collapse collapse-level-1 ml-25  style="font-size: 15.30px;">
                                        <li>
                                            <a href="index6.html">علوم</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">ریاضی</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">فارسی</a>
                                        </li>
                                        <li>
                                            <a href="profile.html">عربی</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <div class="table-responsive">
                            <table class="table table-hover table-bordered mb-0">
                                <thead>
                                <tr>
                                    <th scope="col" style="font-size: medium; font-weight: normal;">موضوع</th>
                                    <th scope="col" style="font-size: medium; font-weight: normal;">معلم</th>
                                    <th scope="col" style="font-size: medium; font-weight: normal;">سختی</th>
                                    <th scope="col" style="font-size: medium; font-weight: normal;">وضعیت</th>
                                    <th class="text-nowrap" style="font-size: medium; font-weight: normal;">عملیات ها</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if exams is not None %}
                                        {% for exam in exams %}
                                            <tr>
                                                <td>{{ exam.title }}</td>
                                                <td>{{ exam.created_by.get_full_name }}</td>
                                                <td>
                                                    <span
                                                        class="label
                                                            {% if exam.difficulty == 1 %} label-success
                                                            {% elif exam.difficulty == 2 %} label-warning
                                                            {% else %} label-danger
                                                            {% endif %}"
                                                        style="font-size: smaller;">
                                                        {{ exam.get_difficulty_display }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span
                                                        class="label
                                                            {% if exam.status == 1 %} label-success
                                                            {% else %} label-danger
                                                            {% endif %}"
                                                        style="font-size: smaller;">
                                                        {{ exam.get_status_display }}
                                                    </span>
                                                </td>

                                                <td class="text-nowrap">
                                                    <a href="{{ exam.get_absolute_url }}" class="mr-25" data-toggle="tooltip" data-original-title="مشاهده">
                                                        <i class="fa fa-eye text-inverse m-r-10"></i>
                                                    </a>
                                                    <a href="{% url "edit-exam-page" exam.uuid %}" class="mr-25" data-toggle="tooltip" data-original-title="ایجاد تغییر">
                                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                    </a>
                                                    {% if exam.created_by == user %}
                                                        <a href="{% url "delete-exam-page" exam.uuid %}" data-toggle="tooltip" data-original-title="حذف کردن">
                                                            <i class="fa fa-close text-danger"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination pagination-split">
                            {% if page_obj.has_next %}
                                <li> <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-left"></i></a> </li>
                            {% endif %}
                            {% for page_num in paginator.page_range %}
                                <li> <a href="?page={{ page_num }}">{{ page_num }}</a> </li>
                            {% endfor %}
                            {% if page_obj.has_previous %}
                                <li> <a href="?page={{ page_obj.prevues_page_number }}"><i class="fa fa-angle-right"></i></a> </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
