{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}ثبت بازخورد تکلیف{% endblock %}
{% block content_title %}ثبت بازخورد تکلیف{% endblock %}

{% block breadcrumb_option %}
    <li><a href="index.html">Dashboard</a></li>
    <li><a href="index.html">Homeworks</a></li>
    <li><a href="index.html">Results</a></li>
    <li class="active"><span>Create</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-12" dir="rtl">
                                        <label class="control-label mb-10" for="{{ form.files.id_for_label }}">{{ form.files.label }}</label>
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput"> <i class="bi bi-file-earmark fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                            <span class="input-group-addon fileupload btn btn-info btn-anim btn-file"><i class="bi bi-upload"></i> <span class="fileinput-new btn-text">انتخاب فایل ها</span> <span class="fileinput-exists btn-text">تغییر دادن فایل ها</span>
                                            <input type="file" name="files" multiple>
                                            </span> <a href="" class="input-group-addon btn btn-danger btn-anim fileinput-exists" data-dismiss="fileinput"><i class="bi bi-trash"></i><span class="btn-text">حذف فایل ها</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12" dir="rtl">
                                        <label class="control-label mb-10" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                        {{ form.description }}
                                    </div>
                                </div>

                                {{ form.errors }}

                                <input type="submit" value="ذخیره" class="btn btn-block btn-success mt-40">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
